@model List<PokemonGame.Pokemon.Pokemon>
@{
    ViewData["Title"] = "Home Page";
    string image = "https://pokeres.bastionbot.org/images/pokemon/";
}

<div class="text-center">

    <div class="wrapperStarter">
        

        @foreach (PokemonGame.Pokemon.Pokemon pokemon in Model)
        {
        <div class="@pokemon.Name">
            <div>@pokemon.Name</div>
            @{
                string srcset = image + pokemon.Id.ToString() + ".png";
            }

            <img class="img-fluid" srcset="@srcset" />

            <table class="statTable">
                @foreach (var stat in pokemon.Stats)
                {
                    <tr>
                        <td class="stats">@stat.StatStat.Name</td>
                        <td class="stat">@stat.BaseStat</td>
                    </tr>

                }

            </table> 
            @Html.ActionLink("Choose Starter", "GameScreen", "Home", new { id = pokemon.Id }, new { @class = "blockLink" })
        </div>
        }
    </div>
</div>
