@model List<PokemonGame.Pokemon.Pokemon>
@{
    ViewData["Title"] = "Home Page";
    string image = "https://pokeres.bastionbot.org/images/pokemon/";
}

<div class="text-center">
    
    <h1 class="display-4">Choose a starter pokemon</h1>
    <div class="row">
        
        @foreach (PokemonGame.Pokemon.Pokemon pokemon in Model)
        {
        <div class="col-lg-4">
            <p>@pokemon.Name ID: @pokemon.Id</p>
            @{ 
                string srcset = image + pokemon.Id.ToString() + ".png";
            }
            <img class="img-fluid" srcset="@srcset" />
            @for (int i = 0; i < 3; i++)
            {
                <button> @pokemon.Moves[i].move.Name</button>
            }

            @foreach (var stat in pokemon.Stats)
            {
                <p>@stat.StatStat.Name : @stat.BaseStat</p>

            }
            @Html.ActionLink("Choose Starter", "GameScreen", "Home", new { id = pokemon.Id }, new { @class = "btn btn-primary" })
        </div>
        }
    </div>
</div>
