@model PokemonGame.Pokemon.Pokemon
@{
    ViewData["Title"] = "Home Page";
    string imageSrc = "https://pokeres.bastionbot.org/images/pokemon/" + Model.Id + ".png";
    string randomImageSrc = "https://pokeres.bastionbot.org/images/pokemon/" + Model.RandomPokemon.Id + ".png";
    string pokeballimg = "http://pokeapi.co/media/sprites/items/master-ball.png";
}

<div class="text-center">
    <h1 class="display-4">Welcome: Trainer</h1>
    <p>Choose a starter pokemon</p>

    <p>@Model.Name</p>
    <img class="img-fluid" srcset=@imageSrc />
    @for (int i = 1; i < 5; i++)
    {
        <p>Ability: @Model.Moves[i].Name</p>
    }

    @foreach (var stat in Model.Stats)
    {
        <p>@stat.StatStat.Name : @stat.BaseStat</p>

    }
    @Html.ActionLink("Train " + Model.Name, "TrainScreen", "Home", new { id = Model.Id }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Battle someone! ", "Battle", "Home", new { id = Model.Id }, new { @class = "btn btn-primary" })

    <div>
        <input type="button" id="joinGroup" value="Join Private Group" />

        <input type="text" id="roomName" placeholder="Enter room name.." />
        <input type="button" id="createGroup" value="Create battle room" />
    </div>

<textarea name="message" id="message"></textarea>
    <select id="group">
        <option value="All">Everyone</option>
        <option value="Myself">Myself</option>
        <option value="PrivateGroup">Private Group</option>
    </select>
    <input type="button" id="sendButton" value="Send Message" />

    <div id="messages"></div>

    <h1>Your Random Pokemon</h1>
    <p>@Model.RandomPokemon.Name</p>
    <img class="img-fluid" srcset=@randomImageSrc />
    <img class="img-fluid" srcset=@pokeballimg />

</div>

<script src="~/js/signalr/dist/browser/microsoft/signalr.js"></script>