@model PokemonGame.Pokemon.Pokemon

@{
    ViewData["Title"] = Model.Name + "'s Training!";
    string imageSrc = "https://pokeres.bastionbot.org/images/pokemon/" + Model.Id + ".png";
    string randomImageSrc = "https://pokeres.bastionbot.org/images/pokemon/" + Model.EnemyPokemon.Id + ".png";
}

<div class="container">

    <div class="row">
        <div class="col-lg-6">
            <p id="namePlayer1">@Model.Name</p>
            <h1 id="healthPlayer1">@Model.health.ToString()</h1>
            <img class="img-fluid" srcset=@imageSrc />
            @for (int i = 1; i < 5; i++)
            {
                <button onclick="CalculateDamageStep(@i)"> @Model.Moves[i].Name</button>
                <p id=@i.ToString()>@Model.Moves[i].Power</p>
            }
        </div>
        <div class="col-lg-6">
            <p id="namePlayer2">@Model.EnemyPokemon.Name</p>
            <h1 id="healthPlayer2">@Model.EnemyPokemon.health</h1>
            <img class="img-fluid" srcset=@randomImageSrc />
            @for (int j = 0; j < 3; j++)
            {
                <button> @Model.EnemyPokemon.Moves[j].move.Name</button>
                <p id=@j.ToString()>@Model.Moves[j].Power</p>
            }
        </div>
    </div>
</div>

